body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url('img/bg3.jpg');
    background-position: center;
}

.question {
    text-align: center;
}

.grid-container-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    background-color: rgb(211, 211, 211, .36);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 600px;
}

.square {
    height: 100px;
    flex: 0 1 100px;
}

.faded {
    background-color: rgb(128, 128, 128, 0.5);
}

.faded>img {
    opacity: 0.36;
}